In [1]:
import pandas as pd 
import matplotlib.pyplot
matplotlib.style.use('ggplot')
import matplotlib.pyplot as plt 
import numpy as np

# Task from last week
**Reviewing continents merge **

Open both dataframes, find out the size of each of them and display the first 10 rows. If you're running these examples you'll need to update read csv to where you've saved the data

- gdpPerCapita1.csv: https://drive.google.com/open?id=0BxAMHhHjQFUgT1B2M3g3OEtqVVU 
- lifeExpectancy1.csv: https://drive.google.com/open?id=0BxAMHhHjQFUgTUtYbzhwWGJWN1k

In [2]:
dfGdp = pd.read_csv("gdpPerCapita1.csv")

In [3]:
dfLife = pd.read_csv("lifeExpectancy1.csv")

Repeating the steps from last week to create a consistent column

In [4]:
def upper(text):
    return text.upper()

In [5]:
dfLife["Country Code"] = dfLife["Country Code"].apply(upper)
dfLife

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.569366,65.988024,66.365537,66.713976,67.044293,67.369756,...,74.526756,74.675732,74.818146,74.953537,75.081390,75.205756,75.328659,75.451098,75.573585,NaN
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.328512,32.777439,33.219902,33.657878,34.092878,34.525390,...,57.833829,58.225024,58.603683,58.970829,59.327951,59.679610,60.028268,60.374463,60.717171,NaN
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.984829,33.386220,33.787585,34.188463,34.590341,34.992220,...,49.435732,49.847390,50.251024,50.654171,51.059317,51.464000,51.866171,52.266878,52.666098,NaN
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.254366,63.273463,64.162854,64.887098,65.438195,65.827390,...,76.470293,76.652073,76.840366,77.036951,77.240585,77.443976,77.640463,77.830463,78.014463,NaN
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.852780,47.432448,48.010502,48.591241,49.175538,49.758702,...,69.152549,69.361987,69.560038,69.749303,69.935670,70.125413,70.319844,70.517163,70.714065,NaN
6,United Arab Emirates,ARE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,52.243220,53.286561,54.327000,55.363512,56.392585,57.405707,...,76.111171,76.307756,76.494780,76.675244,76.851195,77.024146,77.195634,77.368171,77.541244,NaN
7,Argentina,ARG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.215537,65.338512,65.432610,65.509390,65.582415,65.668683,...,75.009049,75.166268,75.324561,75.484976,75.649049,75.816244,75.986098,76.158610,76.334220,NaN
8,Armenia,ARM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.863463,66.284390,66.709854,67.137854,67.565415,67.991537,...,73.764659,73.945000,74.095829,74.226341,74.342829,74.452098,74.561366,74.675707,74.797122,NaN
9,American Samoa,ASM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.782732,62.195415,62.598537,62.992585,63.378585,63.756073,...,74.803220,74.979171,75.147024,75.308780,75.466024,75.621805,75.778659,75.937634,76.100220,NaN
11,Australia,AUS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,70.817073,70.973171,70.942439,70.911707,70.880976,70.850244,...,81.292683,81.395122,81.543902,81.695122,81.895122,82.046341,82.148780,82.300000,82.451220,NaN
12,Austria,AUT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.585610,69.577317,69.309512,69.443659,69.921951,69.722195,...,80.180488,80.431707,80.331707,80.580488,80.982927,80.936585,81.136585,81.490244,81.843902,NaN
13,Azerbaijan,AZE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,60.836244,61.239171,61.644585,62.052000,62.457415,62.861829,...,69.756512,70.063951,70.293683,70.451317,70.551805,70.623951,70.690585,70.763220,70.848780,NaN
14,Burundi,BDI,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,41.236049,41.545463,41.860390,42.177805,42.492220,42.790146,...,53.456073,53.891024,54.351220,54.829195,55.312024,55.789293,56.251610,56.692024,57.107049,NaN
15,Belgium,BEL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.701951,70.520976,70.219512,70.051463,70.755122,70.625366,...,79.782927,79.680488,79.982927,80.182927,80.585366,80.385366,80.587805,81.287805,81.287805,NaN
16,Benin,BEN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.278268,37.731195,38.189415,38.657341,39.136854,39.632732,...,57.867390,58.204512,58.491268,58.729707,58.932902,59.121976,59.312024,59.510585,59.720707,NaN
17,Burkina Faso,BFA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,34.477902,34.938634,35.405878,35.879659,36.358951,36.837756,...,55.188805,55.902293,56.524976,57.051390,57.492049,57.879317,58.240634,58.588463,58.931293,NaN
18,Bangladesh,BGD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,45.829317,46.457927,47.083976,47.692463,48.255439,48.689537,...,68.859976,69.277854,69.683780,70.080293,70.471951,70.860268,71.245244,71.625902,72.001195,NaN
19,Bulgaria,BGR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.247561,70.195610,69.491951,70.309268,71.121220,71.293902,...,72.663415,72.963415,73.412195,73.512195,74.163415,74.314634,74.860976,74.465854,74.465854,NaN
20,Bahrain,BHR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,52.089366,53.458512,54.818268,56.146585,57.425878,58.640073,...,75.707756,75.847512,75.987780,76.127561,76.267854,76.407634,76.545951,76.683268,76.819098,NaN
21,"Bahamas, The",BHS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.729049,63.072512,63.408024,63.737049,64.059098,64.374683,...,74.059463,74.247439,74.423902,74.592390,74.754415,74.914463,75.073537,75.233659,75.396829,NaN
22,Bosnia and Herzegovina,BIH,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,60.276220,60.941585,61.567976,62.162341,62.733683,63.292000,...,75.371488,75.511976,75.657366,75.807683,75.962927,76.120171,76.276927,76.433244,76.588585,NaN
23,Belarus,BLR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,67.708098,68.212659,68.635829,68.992073,69.289927,69.537415,...,70.207317,70.456098,70.407317,70.404878,70.553659,71.965854,72.470732,72.970732,73.624390,NaN
24,Belize,BLZ,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,59.961366,60.512780,61.074341,61.646049,62.224829,62.806122,...,69.452000,69.594220,69.703073,69.782049,69.843683,69.905146,69.982049,70.077439,70.192366,NaN
25,Bermuda,BMU,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,68.897805,...,78.934146,79.236585,79.388439,79.288537,81.152683,81.677805,80.572439,80.797317,81.012195,NaN
26,Bolivia,BOL,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,42.118317,42.433439,42.757049,43.089146,43.430220,43.779780,...,64.694122,65.273805,65.848000,66.407756,66.942561,67.445463,67.913439,68.344000,68.739610,NaN
27,Brazil,BRA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,54.205463,54.718707,55.235659,55.751390,56.262951,56.767366,...,72.414829,72.695415,72.978024,73.264146,73.552341,73.839585,74.122439,74.401878,74.675878,NaN
28,Barbados,BRB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,60.738049,61.215098,61.696171,62.182268,62.672878,63.161024,...,74.356415,74.519195,74.682488,74.845293,75.008146,75.171024,75.333951,75.496415,75.658439,NaN
29,Brunei Darussalam,BRN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.500366,63.048951,63.575902,64.076195,64.548317,64.992293,...,76.675561,76.956756,77.268293,77.598268,77.932317,78.252585,78.546659,78.809585,79.040829,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,55.619766,56.109489,56.579322,57.029450,57.462965,57.884675,...,73.236318,73.461234,73.684900,73.909557,74.136581,74.365043,74.594249,74.824819,75.055892,NaN
235,Timor-Leste,TLS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.737122,34.237561,34.739049,35.241537,35.743488,36.282902,...,65.824195,66.457829,66.946683,67.308390,67.576732,67.800146,68.020902,68.259146,68.526415,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.656495,47.242920,47.826069,48.410245,48.997019,49.582825,...,70.856863,71.070463,71.277144,71.479537,71.680545,71.882935,72.085222,72.284353,72.476299,NaN
237,Tonga,TON,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,61.364537,61.732707,62.097293,62.458756,62.815146,63.167976,...,71.737000,71.883195,72.031756,72.182610,72.334732,72.488000,72.640341,72.792195,72.944049,NaN
238,South Asia (IDA & IBRD),TSA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,41.960597,42.600038,43.243690,43.886697,44.537386,45.180598,...,65.545684,65.925156,66.307643,66.689720,67.066432,67.431505,67.782021,68.116287,68.433245,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,40.155152,40.596924,41.029239,41.450557,41.861044,42.263354,...,54.150635,54.897254,55.623587,56.308740,56.940380,57.521404,58.053491,58.537123,58.974621,NaN
240,Trinidad and Tobago,TTO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.657585,63.253756,63.760195,64.161390,64.455780,64.651756,...,69.259659,69.428927,69.610585,69.797561,69.980317,70.151390,70.305293,70.440561,70.557707,NaN
241,Tunisia,TUN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,42.009756,42.645512,43.341683,44.100780,44.923854,45.814415,...,74.524585,74.577659,74.601707,74.611707,74.626220,74.662220,74.729756,74.835341,74.975976,NaN
242,Turkey,TUR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,45.384415,46.104488,46.836707,47.574024,48.306317,49.023439,...,73.177073,73.500756,73.803220,74.090927,74.367341,74.636805,74.900707,75.163512,75.426220,NaN
243,Tuvalu,TUV,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,43.653878,43.907293,44.162244,44.423707,44.697707,44.988732,...,58.077780,59.314707,60.509512,61.625610,62.632098,63.520902,64.291829,64.943902,65.487488,NaN
245,Uganda,UGA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,43.983561,44.560024,45.147049,45.738122,46.321268,46.879488,...,53.654146,54.461976,55.182098,55.836659,56.463756,57.100195,57.767683,58.466415,59.179073,NaN
246,Ukraine,UKR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,68.299537,68.763854,69.146098,69.457707,69.708220,69.905634,...,68.222195,68.251463,69.190000,70.265366,70.809268,70.944146,71.159512,71.186585,71.189512,NaN
247,Upper middle income,UMC,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.574848,50.092661,50.743098,51.581889,52.650624,53.890813,...,72.971013,73.227471,73.505590,73.726828,73.994262,74.224724,74.461595,74.669285,74.871426,NaN
248,Uruguay,URY,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,67.896390,68.112780,68.296634,68.440927,68.543146,68.606805,...,75.951024,76.101073,76.248585,76.394610,76.541195,76.688390,76.836195,76.986146,77.138220,NaN
249,United States,USA,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,69.770732,70.270732,70.119512,69.917073,70.165854,70.214634,...,77.987805,78.039024,78.390244,78.541463,78.641463,78.741463,78.741463,78.741463,78.741463,NaN
250,Uzbekistan,UZB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,58.885537,59.297537,59.713024,60.130024,60.546537,60.957049,...,67.531220,67.634195,67.744561,67.861293,67.981415,68.101976,68.222000,68.339024,68.453073,NaN
251,St. Vincent and the Grenadines,VCT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,57.723878,58.809683,59.839220,60.782390,61.621146,62.347463,...,71.699415,71.931732,72.150073,72.346390,72.518756,72.671854,72.810878,72.936854,73.052366,NaN
252,"Venezuela, RB",VEN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,59.285122,59.862561,60.430317,60.985829,61.529073,62.062073,...,73.388902,73.476244,73.568000,73.671610,73.791659,73.925732,74.074415,74.236195,74.409610,NaN
253,British Virgin Islands,VGB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,63.730220,64.101561,64.462561,64.828756,65.210122,65.611610,...,78.824390,78.924390,79.073171,79.173171,79.373171,79.473171,79.624390,79.773171,79.873171,NaN
255,Vietnam,VNM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,59.067024,59.744195,60.410537,61.043024,61.607146,61.996780,...,74.483854,74.653098,74.822610,74.990366,75.156805,75.319390,75.477000,75.629122,75.777732,NaN
256,Vanuatu,VUT,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.487488,47.088098,47.688195,48.287293,48.886829,49.484780,...,69.948732,70.254756,70.555829,70.849951,71.134561,71.408171,71.669244,71.918317,72.157366,NaN
257,World,WLD,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,52.474764,52.980853,53.404196,53.935462,54.612963,55.280440,...,69.631543,69.904202,70.208945,70.471632,70.748179,70.983615,71.226337,71.458982,71.663961,NaN
258,Samoa,WSM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.969512,50.469512,50.969512,51.469512,51.969512,52.469512,...,71.560780,71.844293,72.130683,72.417000,72.701268,72.980049,73.250390,73.511829,73.764878,NaN
259,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.197561,69.397561,69.648780,69.900000,70.148780,70.497561,70.797561,71.097561,71.346341,NaN
260,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,34.363805,34.473244,34.739561,35.186780,35.812878,36.593390,...,61.954805,62.211366,62.485341,62.768732,63.053537,63.327293,63.583512,63.818195,64.031390,NaN
261,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,49.036293,49.429805,49.813293,50.195756,50.581756,50.971829,...,51.996512,52.636024,53.467098,54.390756,55.295659,56.098317,56.736585,57.182122,57.440902,NaN
262,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,45.109805,45.487512,45.853659,46.208732,46.557683,46.911512,...,52.477146,53.905634,55.214171,56.383854,57.422195,58.363317,59.237366,60.047049,60.785683,NaN
263,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,51.542463,51.914951,52.277902,52.629317,52.971659,53.304463,...,44.177756,45.804488,47.624659,49.574659,51.600366,53.643073,55.633000,57.498317,59.161073,NaN

Join the dataframes together on Country Code

In [6]:
df = pd.merge(dfGdp, dfLife, how="left", on="Country Code", suffixes=("_Gdp", "_LE"))
df.sample(5)

,Country Name_Gdp,Country Code,1960_Gdp,1961_Gdp,1962_Gdp,1963_Gdp,1964_Gdp,1965_Gdp,1966_Gdp,1967_Gdp,...,2007_LE,2008_LE,2009_LE,2010_LE,2011_LE,2012_LE,2013_LE,2014_LE,2015_LE,2016_LE
208,Sierra Leone,SLE,140.180258,140.749664,145.035842,145.323932,152.696905,145.304139,149.435676,136.593437,...,45.488366,46.427634,47.350220,48.228951,49.034732,49.749098,50.363122,50.878780,51.308171,NaN
43,Colombia,COL,245.197466,268.097371,283.917439,268.324398,322.472169,302.454042,276.488780,281.969889,...,72.705512,72.907171,73.096951,73.277854,73.454805,73.630780,73.809732,73.993146,74.182024,NaN
3,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.470293,76.652073,76.840366,77.036951,77.240585,77.443976,77.640463,77.830463,78.014463,NaN
74,Fiji,FJI,285.542501,287.329144,291.539707,296.772935,310.872997,317.072947,316.179587,333.309188,...,68.843415,69.022024,69.202854,69.384366,69.565000,69.743220,69.917927,70.089122,70.256268,NaN
227,Chad,TCD,104.472101,109.129606,114.582174,116.777461,120.821473,125.975859,128.343151,130.961012,...,48.559220,48.951585,49.393171,49.862073,50.331951,50.781390,51.191488,51.555805,51.873317,NaN

Open the new continents data https://drive.google.com/open?id=0BxAMHhHjQFUgNm0wVy02cVZvOG8

In [7]:
dfContinents = pd.read_csv("continentsClean.csv")
dfContinents.head()

  code  country-code   region       sub-region  region-code  sub-region-code
0  AFG             4     Asia    Southern Asia        142.0             34.0
1  ALA           248   Europe  Northern Europe        150.0            154.0
2  ALB             8   Europe  Southern Europe        150.0             39.0
3  DZA            12   Africa  Northern Africa          2.0             15.0
4  ASM            16  Oceania        Polynesia          9.0             61.0

Check the columns

In [8]:
dfContinents.columns

Index(['code', 'country-code', 'region', 'sub-region', 'region-code',
       'sub-region-code'],
      dtype='object')

Select the columns that you want to merge

In [9]:
dfContinents = dfContinents[['code', 'region', 'sub-region']]
dfContinents.head()

  code   region       sub-region
0  AFG     Asia    Southern Asia
1  ALA   Europe  Northern Europe
2  ALB   Europe  Southern Europe
3  DZA   Africa  Northern Africa
4  ASM  Oceania        Polynesia

Rename the columns (noting that you want to merge on Country Code again)

In [10]:
dfContinents.columns = ['Country Code','region','sub-region']
dfContinents.head()

  Country Code   region       sub-region
0          AFG     Asia    Southern Asia
1          ALA   Europe  Northern Europe
2          ALB   Europe  Southern Europe
3          DZA   Africa  Northern Africa
4          ASM  Oceania        Polynesia

Merge the dataframes

In [11]:
df = pd.merge(dfContinents, df, how="left", on="Country Code")
df.sample(5)

,Country Code,region,sub-region,Country Name_Gdp,1960_Gdp,1961_Gdp,1962_Gdp,1963_Gdp,1964_Gdp,1965_Gdp,...,2007_LE,2008_LE,2009_LE,2010_LE,2011_LE,2012_LE,2013_LE,2014_LE,2015_LE,2016_LE
77,PYF,Oceania,Polynesia,French Polynesia,NaN,NaN,NaN,NaN,NaN,1889.323290,...,74.891976,75.186659,75.453463,75.695390,75.917024,76.127024,76.334073,76.541683,76.752415,NaN
113,JOR,Asia,Western Asia,Jordan,NaN,NaN,NaN,NaN,NaN,511.561963,...,72.961171,73.120244,73.278293,73.435829,73.591854,73.746415,73.900000,74.052146,74.203341,NaN
236,UMI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,TCA,Americas,Caribbean,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,TZA,Africa,Eastern Africa,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,...,58.077780,59.314707,60.509512,61.625610,62.632098,63.520902,64.291829,64.943902,65.487488,NaN

In [12]:
df.columns

Index(['Country Code', 'region', 'sub-region', 'Country Name_Gdp', '1960_Gdp',
       '1961_Gdp', '1962_Gdp', '1963_Gdp', '1964_Gdp', '1965_Gdp',
       ...
       '2007_LE', '2008_LE', '2009_LE', '2010_LE', '2011_LE', '2012_LE',
       '2013_LE', '2014_LE', '2015_LE', '2016_LE'],
      dtype='object', length=121)

# This week
## Recap by completing this notebook

Group your dataframe by region, sub-region and country name. Add a comment to explain this is what you've done
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html

Filter your dataframe to only look at Europe - set this as a new variable https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html

Select only the sub-region and 205 GDP columns from your dataset, group them by the mean of sub-region

Plot it as a bar chart

Add a title, make it bigger, add a y axis label

### Understanding your data
Display a summary of your data

Find the highest and lowest 2007 life expectancies in Europe - there are a few ways of doing this.
First, summarise a single column

Find the max of a column

Filter from the original dataframe - selecting region as Europe and 2007 Life Expectancy greater than or equal to 80. https://pandas.pydata.org/pandas-docs/stable/comparison_with_sql.html

Repeat the same method for 2007 Life Expectancy less than or equal to 70

Find the 5 countries with the highest life expectancy in 2015 http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.nlargest.html

Find the 5 countries with the lowest life expectancy in 2015

## Task
### On average, in 1980 how much longer did people live in Northern Europe compared with South America?

Select the columns you need to answer this question and give them a new variable name

Filter to only see Northern Europe

Use Numpy to only look at rows which are not null - so that we don't skew our average. You'll need to make sure you've imported at the top of your notebook. You can also do this in Pandas https://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html

df1980 = df1980[np.isfinite(df1980['1980_LE'])]
df1980

Calculate the mean of 1980_LE

Make it reusable - we can take the lines above and put them into a function. The only things we need to change are two swap in some variables instead of our values.

First - copy your dataframe

In [29]:
df1 = df.copy()

Take each line of your above calculation and paste it into a new cell

df1980 = df[["sub-region", "1980_LE", "Country Name_Gdp"]]
df1980 = df1980[(df1980['sub-region'] == 'Northern Europe')]
df1980 = df1980[np.isfinite(df1980['1980_LE'])]
df1980["1980_LE"].mean()

In the same cell, add def to the topline and name your function. Indent everything below this

def avgLifeExpectancy     
    df1980 = df[["sub-region", "1980_LE", "Country Name_Gdp"]]
    df1980 = df1980[(df1980['sub-region'] == 'Northern Europe')]
    df1980 = df1980[np.isfinite(df1980['1980_LE'])]
    df1980["1980_LE"].mean()

We want this function to work for any dataframe, any region and any year - so give these as variables on the top line. Don't forget to add round brackets and a colon

def avgLifeExpectancy(df, subRegionName, year):     
    df1980 = df[["sub-region", "1980_LE", "Country Name_Gdp"]]
    df1980 = df1980[(df1980['sub-region'] == 'Northern Europe')]
    df1980 = df1980[np.isfinite(df1980['1980_LE'])]
    df1980["1980_LE"].mean()

Replace the values we used earlier with the variable names

def avgLifeExpectancy(df, subRegionName, year):
    df = df[['sub-region', year, "Country Name_Gdp"]]
    df = df[(df['sub-region'] == subRegionName)]
    df = df[np.isfinite(df[year])]
    df[year].mean()

Add return to the last line - as you want your function to return the mean for that year

In [34]:
def avgLifeExpectancy(df, subRegionName, year):
    df = df[['sub-region', year, "Country Name_Gdp"]]
    df = df[(df['sub-region'] == subRegionName)]
    df = df[np.isfinite(df[year])]
    return df[year].mean()

Test it out. You can either declare your variables at the top of the cell, or you can substitute them in directly. Check the answer is the same as your earlier calculation

# subRegionName = "Northern Europe"
# year = "1980_LE"

northernEurope = avgLifeExpectancy(df1, "Northern Europe", "1980_LE")
northernEurope

Test on a different region and year

Do a simple calculation to answer our question

answer = northernEurope - southAmerica

Remember you can also perform calculations on entire columns

In [40]:
a = df["1975_Gdp"].mean()
a

2670.8559208023075

In [41]:
b = df["1965_Gdp"].mean()
b

734.00874164053084

In [42]:
c = a - b
c

1936.8471791617767

## A new dataset
https://drive.google.com/open?id=0BxAMHhHjQFUgbEY5TGpMYXo4TTQ

In [43]:
dfLa = pd.read_csv("/Users/sarahdean/workspace/learning/la_data.csv", encoding = "ISO-8859-1")
dfLa

,Local authority,Early years,Primary schools,Secondary schools,Special schools and alternative provision,Post-16 provision,Other education and community budget,TOTAL EDUCATION SERVICES,"Transport planning, policy and strategy",Structural maintenance,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,Bath & North East Somerset UA,"10,644","43,449","10,271","9,739","1,257","11,315","86,675",783,"3,068",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bristol UA,"29,961","92,020","50,207","24,905","9,855","21,252","228,200","1,925","1,494",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,South Gloucestershire UA,"15,080","87,474","9,549","15,095","6,244","12,828","146,270","2,935","1,733",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,North Somerset UA,"10,311","65,161","16,725","1,031",0,"4,691","97,919","1,303","1,333",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Luton UA,"19,493","87,271","29,078","15,297","1,985","19,101","172,225",-158,388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Bedford UA,"9,740","52,543","12,556","8,197","1,710","7,000","91,746","1,584",505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Central Bedfordshire UA,"7,092","73,073","91,178","12,344","23,146","15,315","222,148","2,239",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Bracknell Forest UA,"4,184","44,275","35,273","11,614","1,638","5,047","102,031",812,110,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,West Berkshire UA,"9,511","53,204","17,771","13,276","6,176","6,390","106,328",443,"1,310",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Reading UA,"12,379","48,664","7,776","12,239","2,735","8,175","91,968",998,719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Slough UA,"16,388","33,139","9,430","8,444","2,736","8,738","78,875","2,024",101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Windsor & Maidenhead UA,"10,115","34,560","6,774","11,056","2,687","7,110","72,302",242,842,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Wokingham UA,"8,208","60,685","22,297","5,643",571,"9,263","106,667",557,546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Milton Keynes UA,"20,675","84,682","27,539","23,810","1,455","19,397","177,558","1,369",579,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Buckinghamshire,"27,647","188,942","153,397","64,592","4,234","16,277","455,089","-1,205",510,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Aylesbury Vale,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Chiltern,0,0,0,0,0,0,0,21,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,South Bucks,0,0,0,0,0,0,0,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Wycombe,0,0,0,0,0,0,0,23,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Peterborough UA,"16,689","72,830","28,486","16,367","1,252","6,828","142,452","1,291",805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Cambridgeshire,"37,441","163,838","17,969","33,227","1,886","28,229","282,590","3,308","7,375",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Cambridge,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,East Cambridgeshire,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Fenland,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,South Cambridgeshire,0,0,0,0,0,0,0,78,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Huntingdonshire,0,0,0,0,0,0,0,69,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Halton UA,"9,243","38,655","17,082","6,379","1,335","14,716","87,410",206,"1,333",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Warrington UA,"8,956","81,262","18,656","11,127",600,"3,512","124,113",-29,234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Cheshire East UA,"20,693","79,975","33,322","15,889","4,592","14,458","168,929",617,272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Cheshire West and Chester UA,"19,389","121,992","58,558","22,537","1,159","13,009","236,644",354,327,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,Greater Manchester Police and Crime Commission...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,Merseyside Police and Crime Commissioner and C...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,South Yorkshire Police and Crime Commissioner ...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,Northumbria Police and Crime Commissioner and ...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,West Midlands Police and Crime Commissioner an...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,West Yorkshire Police and Crime Commissioner a...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,Avon & Somerset Police and Crime Commissioner ...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,Devon & Cornwall Police and Crime Commissioner...,É,É,É,É,É,É,É,É,É,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
442,Hampshire Police and Crime Commissioner and Ch...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,Sussex Police and Crime Commissioner and Chief...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,Thames Valley Police and Crime Commissioner an...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445,West Mercia Police and Crime Commissioner and ...,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,ENGLAND,"3,277,929","16,500,990","6,892,594","3,339,289","527,055","2,804,900","33,342,758","229,405","440,687",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,CLASS BREAKDOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,LONDON BOROUGHS,"665,175","3,229,457","1,333,025","654,445","121,364","518,614","6,522,079","18,907","47,604",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,METROPOLITAN DISTRICTS,"701,772","4,080,781","1,906,743","689,554","108,548","622,141","8,109,539","25,883","151,254",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453,UNITARY AUTHORITIES,"711,799","3,281,578","1,416,609","712,725","143,070","624,249","6,890,030","51,953","62,782",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454,SHIRE COUNTIES,"1,199,183","5,909,174","2,236,218","1,282,566","154,074","1,032,026","11,813,241","74,878","94,996",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,SHIRE DISTRICTS,0,0,0,0,0,0,0,"3,537","1,001",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,OTHER AUTHORITIES,0,0,0,0,0,"7,869","7,869","54,246","83,050",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Find all the column names

View the column names as a list

In [45]:
lsLa = dfLa.columns.tolist()
lsLa

['Local authority',
 'Early years',
 'Primary schools',
 'Secondary schools',
 'Special schools and alternative provision',
 'Post-16 provision',
 'Other education and community budget',
 'TOTAL EDUCATION SERVICES',
 'Transport planning, policy and strategy ',
 'Structural maintenance',
 'Environmental, safety and routine maintenance',
 'Winter service',
 'Street lighting (including energy costs)',
 'Traffic management and road safety: congestion charging',
 'Traffic management and road safety: traffic management Ð bus lane enforcement',
 'Traffic management and road safety: road safety education and safe routes (including school crossing patrols)',
 'Traffic management and road safety: other',
 'Parking services',
 'Public transport: statutory concessionary fares',
 'Public transport: discretionary concessionary fares',
 'Public transport: support to operators',
 'Public transport: co-ordination',
 'Airports, harbours and toll facilities',
 'TOTAL HIGHWAYS AND TRANSPORT SERVICES',
 "Children's social care: Sure start children's centres/flying start and early years",
 "Children's social care: Children looked after",
 "Children's social care: Other children and family services",
 "Children's social care: Family support services",
 "Children's social care: Youth justice",
 "Children's social care: Safeguarding children and young peopleÕs services",
 "Children's social care: Asylum seekers",
 "Children's social care: Services for young people",
 "TOTAL CHILDREN'S SOCIAL CARE",
 'Physical support - adults (18Ð64)',
 'Physical support - older people (65+)',
 'Sensory support - adults (18Ð64)',
 'Sensory support - older people (65+)',
 'Support with memory and cognition - adults (18Ð64)',
 'Support with memory and cognition - older people (65+)',
 'Learning disability support - adults (18Ð64)',
 'Learning disability support - older people (65+)',
 'Mental health support - adults (18Ð64)',
 'Mental health support - older people (65+)',
 'Social support: Substance misuse support',
 'Social support: Asylum seeker support',
 'Social support: Support for carer',
 'Social support: Social Isolation',
 'Assistive equipment and technology',
 'Social care activities',
 'Information and early intervention',
 'Commissioning and service delivery',
 'TOTAL ADULT SOCIAL CARE',
 'Sexual health services - STI testing and treatment (prescribed functions)',
 'Sexual health services - Contraception (prescribed functions)',
 'Sexual health services - Promotion, prevention and advice (non-prescribed functions)',
 'NHS health check programme  (prescribed functions)',
 'Health protection - Local authority role in health protection  (prescribed functions)',
 'National child measurement programme (prescribed functions)',
 'Public health advice to NHS commissioners (prescribed functions)',
 'Obesity - adults',
 'Obesity - children',
 'Physical activity - adults',
 'Physical activity - children',
 'Substance misuse - Treatment for drug misuse in adults',
 'Substance misuse - Treatment for alcohol misuse in adults',
 'Substance misuse - Preventing and reducing harm from drug misuse in adults',
 'Substance misuse - Preventing and reducing harm from alcohol misuse in adults',
 'Substance misuse - Specialist drug and alcohol misuse services for children and young people',
 'Smoking and tobacco - Stop smoking services and interventions',
 'Smoking and tobacco - Wider tobacco control',
 'Children 5Ð19 public health programmes',
 'Miscellaneous public health services - Mandated 0-5 childrenÕs services (prescribed functions)',
 'Miscellaneous public health services - All Other 0-5 childrenÕs services (non-prescribed functions)',
 'Health at work',
 'Public mental health',
 'Miscellaneous public health services - other',
 'TOTAL PUBLIC HEALTH',
 'Housing strategy, advice, advances, enabling, renewals and licensing',
 'Homelessness',
 'Housing benefits: rent allowances and rent rebates - discretionary payments',
 'Housing benefits administration',
 "Other council property - travellers' sites and non-HRA council property",
 'Housing welfare: Supporting People',
 'Other welfare services',
 'TOTAL HOUSING SERVICES (GFRA only)',
 'Archives',
 'Culture and heritage (excluding Archives)',
 'Recreation and sport',
 'Open spaces',
 'Tourism',
 'Library service',
 'TOTAL CULTURAL AND RELATED SERVICES',
 'Cemetery, cremation and mortuary services',
 'Regulatory services: Trading standards',
 'Regulatory services: Water safety',
 'Regulatory services: Food safety',
 'Regulatory services: Environmental protection; noise and nuisance',
 'Regulatory services: Housing standards',
 'Regulatory services: Health and safety',
 'Regulatory services: Port health (excluding levies)',
 'Regulatory services: Port health levies',
 'Regulatory services: Pest control',
 'Regulatory services: Public conveniences',
 'Regulatory services: Animal and public health; infectious disease',
 'Regulatory services: Licensing - Alcohol and entertainment licensing; taxi licensing',
 'Community safety (Crime reduction)',
 'Community safety (Safety services)',
 'Community safety (CCTV)',
 'Defences against flooding',
 'Land drainage and related work (excluding levy / Special levies)',
 'Land drainage and related work - Levy / Special levies',
 'Coast protection',
 'Agriculture and fisheries services',
 'Street cleansing (not chargeable to Highways)',
 'Waste collection',
 'Waste disposal',
 'Trade waste',
 'Recycling',
 'Waste minimisation',
 'Climate change costs',
 'TOTAL ENVIRONMENTAL AND REGULATORY SERVICES',
 'Building control',
 'Development control',
 'Planning policy',
 'Environmental initiatives',
 'Economic development',
 'Community development',
 'Economic research',
 'Business Support',
 'TOTAL PLANNING AND DEVELOPMENT SERVICES',
 'TOTAL POLICE SERVICES',
 'TOTAL FIRE AND RESCUE SERVICES',
 "Coroners' court services",
 'Other court services    ',
 'Corporate and democratic core',
 'Local tax collection: council tax discounts - locally funded',
 'Local tax collection: council tax support administration',
 'Local tax collection: other',
 'Emergency planning',
 'Central services to the public: other',
 'Non-distributed costs - retirement benefits ',
 'Non-distributed costs - costs of unused shares of IT facilities and other assets',
 'Non-distributed costs - revenue expenditure on surplus assets',
 'TOTAL CENTRAL SERVICES',
 'TOTAL OTHER SERVICES',
 'TOTAL SERVICE EXPENDITURE',
 'Housing benefits: rent allowances - mandatory payments',
 'Housing benefits: non-HRA rent rebates - mandatory payments',
 'Housing benefits: rent rebates to HRA tenants - mandatory payments',
 'Housing benefits: subsidy limitation transfers from HRA',
 'Contribution to the HRA re items shared by the whole community',
 'Parish Precepts',
 'Integrated Transport Authority levy',
 'Waste Disposal Authority levy',
 'London Pensions Fund Authority levy',
 'Other levies ',
 'External Trading Accounts net surplus(-)/ deficit(+)',
 'Internal Trading Accounts net surplus(-)/ deficit(+)',
 'Capital items accounted for in External Trading Accounts',
 'Capital items accounted for in Internal Trading Accounts',
 'Appropriations to(+) / from(-) Accumulated Absences Account',
 'Adjustments to net current expenditure',
 'NET CURRENT EXPENDITURE',
 'Levy: Environment Agency flood defence',
 'Capital expenditure charged to the GF Revenue Account (CERA) (exclude Public Health)',
 'Capital expenditure charged to the GF Revenue Account (CERA) (Public Health)',
 'Capital receipts used to finance revenue expenditure under receipts flexibility',
 'Provision for bad debts (+/-)',
 'Provision for repayment of principal',
 'Leasing payments',
 'Interest: external payments',
 'Interest: HRA item 8 payments and receipts',
 'SUB-TOTAL',
 'Interest and investment income (-): external receipts and dividends',
 'Private Finance Initiative (PFI) schemes - difference from service charge',
 'Appropriations to(+)/ from(-) financial instruments adjustment account',
 'Appropriations to(+)/ from(-) unequal pay back pay account',
 'Specific and special grants outside AEF [SG line 799 as income]',
 'Business Rates Supplement  (GLA only)',
 'Community Infrastructure levy',
 'Carbon Reduction Commitment (CRC) transactions (expenditure) (+)',
 'Carbon Reduction Commitment (CRC) transactions (income) (-)',
 'REVENUE EXPENDITURE',
 'Unnamed: 183',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 'Unnamed: 190',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 'Unnamed: 197',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 'Unnamed: 204',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 'Unnamed: 211',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 'Unnamed: 218',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 'Unnamed: 225',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 'Unnamed: 232',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 'Unnamed: 239',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 'Unnamed: 245',
 'Unnamed: 246',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Unnamed: 251',
 'Unnamed: 252',
 'Unnamed: 253',
 'Unnamed: 254',
 'Unnamed: 255']

We only want the columns which contain the word 'TOTAL' - there are a few ways to do this, but let's try list comprehension. http://treyhunner.com/2015/12/python-list-comprehensions-now-in-color/

In [46]:
for c in dfLa.columns:
    if "TOTAL" in c:
        print(c)

TOTAL EDUCATION SERVICES
TOTAL HIGHWAYS AND TRANSPORT SERVICES
TOTAL CHILDREN'S SOCIAL CARE
TOTAL ADULT SOCIAL CARE
TOTAL PUBLIC HEALTH
TOTAL HOUSING SERVICES (GFRA only)
TOTAL CULTURAL AND RELATED SERVICES
TOTAL ENVIRONMENTAL AND REGULATORY SERVICES
TOTAL PLANNING AND DEVELOPMENT SERVICES
TOTAL POLICE SERVICES
TOTAL FIRE AND RESCUE SERVICES
TOTAL CENTRAL SERVICES
TOTAL OTHER SERVICES
TOTAL SERVICE EXPENDITURE
SUB-TOTAL

In [47]:
[c for c in dfLa.columns if "TOTAL" in c]

['TOTAL EDUCATION SERVICES',
 'TOTAL HIGHWAYS AND TRANSPORT SERVICES',
 "TOTAL CHILDREN'S SOCIAL CARE",
 'TOTAL ADULT SOCIAL CARE',
 'TOTAL PUBLIC HEALTH',
 'TOTAL HOUSING SERVICES (GFRA only)',
 'TOTAL CULTURAL AND RELATED SERVICES',
 'TOTAL ENVIRONMENTAL AND REGULATORY SERVICES',
 'TOTAL PLANNING AND DEVELOPMENT SERVICES',
 'TOTAL POLICE SERVICES',
 'TOTAL FIRE AND RESCUE SERVICES',
 'TOTAL CENTRAL SERVICES',
 'TOTAL OTHER SERVICES',
 'TOTAL SERVICE EXPENDITURE',
 'SUB-TOTAL']

Copy your original dataframe and apply the list comprehension

In [48]:
dfLaTotals = dfLa.copy()
dfLaTotals = dfLaTotals[[c for c in dfLa.columns if "TOTAL" in c]]
dfLaTotals.head()

,TOTAL EDUCATION SERVICES,TOTAL HIGHWAYS AND TRANSPORT SERVICES,TOTAL CHILDREN'S SOCIAL CARE,TOTAL ADULT SOCIAL CARE,TOTAL PUBLIC HEALTH,TOTAL HOUSING SERVICES (GFRA only),TOTAL CULTURAL AND RELATED SERVICES,TOTAL ENVIRONMENTAL AND REGULATORY SERVICES,TOTAL PLANNING AND DEVELOPMENT SERVICES,TOTAL POLICE SERVICES,TOTAL FIRE AND RESCUE SERVICES,TOTAL CENTRAL SERVICES,TOTAL OTHER SERVICES,TOTAL SERVICE EXPENDITURE,SUB-TOTAL
0,"86,675","5,989","21,254","57,805","9,268","5,130","1,787","18,609","5,244",0,0,"8,497",0,"220,258","267,027"
1,"228,200","28,611","69,429","144,996","36,478","29,678","21,541","30,665","12,175",0,0,"10,153",0,"611,927","817,212"
2,"146,270","18,522","26,639","84,927","9,627","6,549","6,663","27,285","4,054",0,0,"9,213","1,726","341,475","435,073"
3,"97,919","9,777","25,204","66,881","9,876","7,656","5,141","17,227","2,114",0,0,"6,058",0,"247,853","333,762"
4,"172,225","8,195","38,328","61,113","15,788","8,580","5,648","17,167","2,578",0,0,"12,039","3,642","345,303","441,092"

Add the local authority column back in from your original dataframe

In [49]:
dfLaTotals["Local authority"] = dfLa["Local authority"]
dfLaTotals.head()

,TOTAL EDUCATION SERVICES,TOTAL HIGHWAYS AND TRANSPORT SERVICES,TOTAL CHILDREN'S SOCIAL CARE,TOTAL ADULT SOCIAL CARE,TOTAL PUBLIC HEALTH,TOTAL HOUSING SERVICES (GFRA only),TOTAL CULTURAL AND RELATED SERVICES,TOTAL ENVIRONMENTAL AND REGULATORY SERVICES,TOTAL PLANNING AND DEVELOPMENT SERVICES,TOTAL POLICE SERVICES,TOTAL FIRE AND RESCUE SERVICES,TOTAL CENTRAL SERVICES,TOTAL OTHER SERVICES,TOTAL SERVICE EXPENDITURE,SUB-TOTAL,Local authority
0,"86,675","5,989","21,254","57,805","9,268","5,130","1,787","18,609","5,244",0,0,"8,497",0,"220,258","267,027",Bath & North East Somerset UA
1,"228,200","28,611","69,429","144,996","36,478","29,678","21,541","30,665","12,175",0,0,"10,153",0,"611,927","817,212",Bristol UA
2,"146,270","18,522","26,639","84,927","9,627","6,549","6,663","27,285","4,054",0,0,"9,213","1,726","341,475","435,073",South Gloucestershire UA
3,"97,919","9,777","25,204","66,881","9,876","7,656","5,141","17,227","2,114",0,0,"6,058",0,"247,853","333,762",North Somerset UA
4,"172,225","8,195","38,328","61,113","15,788","8,580","5,648","17,167","2,578",0,0,"12,039","3,642","345,303","441,092",Luton UA

Change the index

In [50]:
dfLaTotals.set_index(["Local authority"], inplace=True)
dfLaTotals

,TOTAL EDUCATION SERVICES,TOTAL HIGHWAYS AND TRANSPORT SERVICES,TOTAL CHILDREN'S SOCIAL CARE,TOTAL ADULT SOCIAL CARE,TOTAL PUBLIC HEALTH,TOTAL HOUSING SERVICES (GFRA only),TOTAL CULTURAL AND RELATED SERVICES,TOTAL ENVIRONMENTAL AND REGULATORY SERVICES,TOTAL PLANNING AND DEVELOPMENT SERVICES,TOTAL POLICE SERVICES,TOTAL FIRE AND RESCUE SERVICES,TOTAL CENTRAL SERVICES,TOTAL OTHER SERVICES,TOTAL SERVICE EXPENDITURE,SUB-TOTAL
Local authority,,,,,,,,,,,,,,,
Bath & North East Somerset UA,"86,675","5,989","21,254","57,805","9,268","5,130","1,787","18,609","5,244",0,0,"8,497",0,"220,258","267,027"
Bristol UA,"228,200","28,611","69,429","144,996","36,478","29,678","21,541","30,665","12,175",0,0,"10,153",0,"611,927","817,212"
South Gloucestershire UA,"146,270","18,522","26,639","84,927","9,627","6,549","6,663","27,285","4,054",0,0,"9,213","1,726","341,475","435,073"
North Somerset UA,"97,919","9,777","25,204","66,881","9,876","7,656","5,141","17,227","2,114",0,0,"6,058",0,"247,853","333,762"
Luton UA,"172,225","8,195","38,328","61,113","15,788","8,580","5,648","17,167","2,578",0,0,"12,039","3,642","345,303","441,092"
Bedford UA,"91,746","8,489","31,464","58,290","9,078","4,987","5,470","13,966","2,292",0,0,"8,274",0,"234,056","303,460"
Central Bedfordshire UA,"222,148","9,895","38,650","74,945","12,591","5,180","4,745","23,588","7,505",0,0,"11,509",0,"410,756","495,482"
Bracknell Forest UA,"102,031","5,841","16,880","33,826","4,317","3,302","5,887","10,619",-605,0,0,"5,768",39,"187,905","223,460"
West Berkshire UA,"106,328","5,010","20,439","41,553","6,183","3,064","5,139","21,016","2,677",0,0,"6,158",0,"217,567","265,324"
Reading UA,"91,968","3,103","40,569","41,366","10,016","7,475","6,655","15,171",108,0,0,"5,418",57,"221,906","309,414"
Slough UA,"78,875","6,628","3,552","37,166","8,073","4,926","5,256","14,725",127,0,0,"6,505","-3,376","162,459","262,111"
Windsor & Maidenhead UA,"72,302",329,"15,112","38,430","4,994","3,957","2,123","14,327","2,166",0,0,"5,278",0,"159,018","199,093"
Wokingham UA,"106,667","8,733","16,323","45,570","5,495","2,072","2,716","14,731","3,669",0,0,"7,987",0,"213,963","248,444"
Milton Keynes UA,"177,558",50,"40,672","58,144","12,153","6,763","7,802","18,763","1,310",0,0,"7,806",903,"331,924","444,690"
Buckinghamshire,"455,089","30,646","77,665","139,897","22,056","2,301","4,472","12,631","1,637",0,0,"4,289",0,"750,683","774,448"
Aylesbury Vale,0,-628,0,0,0,"2,163","2,434","6,874",758,0,0,"6,514","1,165","19,280","67,070"
Chiltern,0,"-1,075",0,0,0,"1,579",576,"3,560","1,821",0,0,"3,225",75,"9,761","34,902"
South Bucks,0,-705,0,0,0,957,192,"3,333","1,894",0,0,"3,061",-423,"8,309","27,181"
Wycombe,0,-794,0,0,0,"3,470","2,942","6,101","3,504",0,0,"2,408",542,"18,173","63,740"
Peterborough UA,"142,452","8,719","45,949","50,945","11,580",-464,"4,804","10,832","4,978",0,0,"5,728",0,"285,523","372,141"
Cambridgeshire,"282,590","33,601","78,372","153,610","27,442",-687,"7,280","32,281","1,871",0,0,"5,339",0,"621,699","644,547"
Cambridge,0,"-4,999",0,0,0,"3,447","5,457","6,987","4,817",0,0,"5,482",0,"21,191","53,594"
East Cambridgeshire,0,142,0,0,0,"1,375",971,"5,028","1,049",0,0,"2,907",0,"11,472","32,115"
Fenland,0,773,0,0,0,"1,681","1,666","4,997","1,332",0,0,"3,834",0,"14,283","46,710"
South Cambridgeshire,0,78,0,0,0,"2,081",347,"5,932","4,198",0,0,"6,209",0,"18,845","51,311"
Huntingdonshire,0,-965,0,0,0,"3,074","2,596","6,060","1,408",0,0,"5,136",0,"17,309","58,535"
Halton UA,"87,410","17,140","22,546","40,082","11,061","2,471","8,669","10,461","4,561",0,0,"4,059",999,"209,459","268,845"
Warrington UA,"124,113","9,202","36,176","57,070","12,778","5,687","8,478","11,767",-530,0,0,"5,025",0,"269,766","344,021"
Cheshire East UA,"168,929","16,167","46,530","108,770","17,124","6,359","17,384","29,984","7,342",0,0,"6,427",0,"425,016","528,588"
Cheshire West and Chester UA,"236,644","17,596","45,075","102,246","17,682","8,118","13,122","28,024","8,516",0,0,"10,823","1,024","488,870","602,750"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Greater Manchester Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"592,325",0,"1,686",0,"594,011","616,462"
Merseyside Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"317,436",0,"1,210",0,"318,646","320,003"
South Yorkshire Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"246,184",0,"2,349",0,"248,533","254,176"
Northumbria Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"256,857",0,"2,848",0,"259,705","267,191"
West Midlands Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"582,147",0,"1,945",0,"584,092","588,813"
West Yorkshire Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"450,652",0,"9,331",0,"459,983","481,175"
Avon & Somerset Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"286,107",0,"1,282",0,"287,389","292,998"
Devon & Cornwall Police and Crime Commissioner and Chief Constable,É,É,É,É,É,É,É,É,É,É,É,É,É,É,É
Hampshire Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"302,185",0,"1,569",0,"303,754","310,783"
Sussex Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"264,276",0,"1,274",0,"265,550","268,745"
Thames Valley Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"401,306",0,"1,894",0,"403,200","417,475"
West Mercia Police and Crime Commissioner and Chief Constable,0,0,0,0,0,0,0,0,0,"205,793",0,"4,752",0,"210,545","212,243"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENGLAND,"33,342,758","4,239,578","8,027,601","15,623,146","3,410,420","1,542,948","2,190,418","5,064,405","1,078,172","11,144,704","2,054,705","2,987,047","263,676","90,969,578","117,358,363"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLASS BREAKDOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LONDON BOROUGHS,"6,522,079","233,725","1,476,233","2,365,963","682,188","466,970","336,609","680,203","129,780","84,816",0,"439,330","138,494","13,556,389","20,177,823"
METROPOLITAN DISTRICTS,"8,109,539","436,875","1,946,948","3,375,351","910,347","294,730","531,564","741,699","186,904",0,0,"543,643","38,097","17,115,696","23,270,974"
UNITARY AUTHORITIES,"6,890,030","565,377","1,931,048","3,625,212","815,892","330,859","466,045","1,098,858","187,534",0,"45,238","520,728","34,793","16,511,612","21,700,910"
SHIRE COUNTIES,"11,813,241","1,166,199","2,671,335","6,247,475","996,987","105,478","314,724","1,089,769","94,231",0,"292,389","445,717","41,928","25,279,472","26,300,413"
SHIRE DISTRICTS,0,"-148,267","2,037","9,145","2,075","329,727","470,799","906,430","288,876",0,0,"830,709","8,245","2,699,775","8,902,618"
OTHER AUTHORITIES,"7,869","1,985,669",0,0,"2,932","15,185","70,678","547,446","190,848","11,059,888","1,717,078","206,920","2,120","15,806,633","17,005,626"
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

What type of data do we have?

In [51]:
dfLaTotals.dtypes

TOTAL EDUCATION SERVICES                       object
TOTAL HIGHWAYS AND TRANSPORT SERVICES          object
TOTAL CHILDREN'S SOCIAL CARE                   object
TOTAL ADULT SOCIAL CARE                        object
TOTAL PUBLIC HEALTH                            object
TOTAL HOUSING SERVICES (GFRA only)             object
TOTAL CULTURAL AND RELATED SERVICES            object
TOTAL ENVIRONMENTAL AND REGULATORY SERVICES    object
TOTAL PLANNING AND DEVELOPMENT SERVICES        object
TOTAL POLICE SERVICES                          object
TOTAL FIRE AND RESCUE SERVICES                 object
TOTAL CENTRAL SERVICES                         object
TOTAL OTHER SERVICES                           object
TOTAL SERVICE EXPENDITURE                      object
SUB-TOTAL                                      object
dtype: object

Change the columns to numbers, try it on one column first

In [52]:
#dfLaTotals["TOTAL EDUCATION SERVICES"].astype(int)

Why didn't it work?

Try the following without "errors='coerce'" the first time

In [53]:
pd.to_numeric(dfLaTotals["TOTAL EDUCATION SERVICES"].str.replace(',', ''), errors='coerce')

Local authority
Bath & North East Somerset UA                                              86675.0
Bristol UA                                                                228200.0
South Gloucestershire UA                                                  146270.0
North Somerset UA                                                          97919.0
Luton UA                                                                  172225.0
Bedford UA                                                                 91746.0
Central Bedfordshire UA                                                   222148.0
Bracknell Forest UA                                                       102031.0
West Berkshire UA                                                         106328.0
Reading UA                                                                 91968.0
Slough UA                                                                  78875.0
Windsor & Maidenhead UA                                                    72302.0
Wokingham UA                                                              106667.0
Milton Keynes UA                                                          177558.0
Buckinghamshire                                                           455089.0
Aylesbury Vale                                                                 0.0
Chiltern                                                                       0.0
South Bucks                                                                    0.0
Wycombe                                                                        0.0
Peterborough UA                                                           142452.0
Cambridgeshire                                                            282590.0
Cambridge                                                                      0.0
East Cambridgeshire                                                            0.0
Fenland                                                                        0.0
South Cambridgeshire                                                           0.0
Huntingdonshire                                                                0.0
Halton UA                                                                  87410.0
Warrington UA                                                             124113.0
Cheshire East UA                                                          168929.0
Cheshire West and Chester UA                                              236644.0
                                                                           ...
Greater Manchester Police and Crime Commissioner and Chief Constable           0.0
Merseyside Police and Crime Commissioner and Chief Constable                   0.0
South Yorkshire Police and Crime Commissioner and Chief Constable              0.0
Northumbria Police and Crime Commissioner and Chief Constable                  0.0
West Midlands Police and Crime Commissioner and Chief Constable                0.0
West Yorkshire Police and Crime Commissioner and Chief Constable               0.0
Avon & Somerset Police and Crime Commissioner and Chief Constable              0.0
Devon & Cornwall Police and Crime Commissioner and Chief Constable             NaN
Hampshire Police and Crime Commissioner and Chief Constable                    0.0
Sussex Police and Crime Commissioner and Chief Constable                       0.0
Thames Valley Police and Crime Commissioner and Chief Constable                0.0
West Mercia Police and Crime Commissioner and Chief Constable                  0.0
NaN                                                                            NaN
NaN                                                                            NaN
ENGLAND                                                                 33342758.0
NaN                                                                            NaN
CLASS BREAKDOWN                                                                NaN
LONDON BOROUGHS                                                          6522079.0
METROPOLITAN DISTRICTS                                                   8109539.0
UNITARY AUTHORITIES                                                      6890030.0
SHIRE COUNTIES                                                          11813241.0
SHIRE DISTRICTS                                                                0.0
OTHER AUTHORITIES                                                           7869.0
NaN                                                                            NaN
NaN                                                                            NaN
NaN                                                                            NaN
NaN                                                                            NaN
NaN                                                                            NaN
NaN                                                                            NaN
NaN                                                                            NaN
Name: TOTAL EDUCATION SERVICES, Length: 464, dtype: float64

Take the approach that worked for one column and apply this to all our columns by using a 'for' loop https://www.learnpython.org/en/Loops

In [54]:
for column in dfLaTotals.columns:
    print(column)
    dfLaTotals[column] = pd.to_numeric(dfLaTotals[column].str.replace(',', ''), errors='coerce')

TOTAL EDUCATION SERVICES
TOTAL HIGHWAYS AND TRANSPORT SERVICES
TOTAL CHILDREN'S SOCIAL CARE
TOTAL ADULT SOCIAL CARE
TOTAL PUBLIC HEALTH
TOTAL HOUSING SERVICES (GFRA only)
TOTAL CULTURAL AND RELATED SERVICES
TOTAL ENVIRONMENTAL AND REGULATORY SERVICES
TOTAL PLANNING AND DEVELOPMENT SERVICES
TOTAL POLICE SERVICES
TOTAL FIRE AND RESCUE SERVICES
TOTAL CENTRAL SERVICES
TOTAL OTHER SERVICES
TOTAL SERVICE EXPENDITURE
SUB-TOTAL

Check the data types now

In [55]:
dfLaTotals.dtypes

TOTAL EDUCATION SERVICES                       float64
TOTAL HIGHWAYS AND TRANSPORT SERVICES          float64
TOTAL CHILDREN'S SOCIAL CARE                   float64
TOTAL ADULT SOCIAL CARE                        float64
TOTAL PUBLIC HEALTH                            float64
TOTAL HOUSING SERVICES (GFRA only)             float64
TOTAL CULTURAL AND RELATED SERVICES            float64
TOTAL ENVIRONMENTAL AND REGULATORY SERVICES    float64
TOTAL PLANNING AND DEVELOPMENT SERVICES        float64
TOTAL POLICE SERVICES                          float64
TOTAL FIRE AND RESCUE SERVICES                 float64
TOTAL CENTRAL SERVICES                         float64
TOTAL OTHER SERVICES                           float64
TOTAL SERVICE EXPENDITURE                      float64
SUB-TOTAL                                      float64
dtype: object

In [57]:
dfLaTotals

,TOTAL EDUCATION SERVICES,TOTAL HIGHWAYS AND TRANSPORT SERVICES,TOTAL CHILDREN'S SOCIAL CARE,TOTAL ADULT SOCIAL CARE,TOTAL PUBLIC HEALTH,TOTAL HOUSING SERVICES (GFRA only),TOTAL CULTURAL AND RELATED SERVICES,TOTAL ENVIRONMENTAL AND REGULATORY SERVICES,TOTAL PLANNING AND DEVELOPMENT SERVICES,TOTAL POLICE SERVICES,TOTAL FIRE AND RESCUE SERVICES,TOTAL CENTRAL SERVICES,TOTAL OTHER SERVICES,TOTAL SERVICE EXPENDITURE,SUB-TOTAL
Local authority,,,,,,,,,,,,,,,
Bath & North East Somerset UA,86675.0,5989.0,21254.0,57805.0,9268.0,5130.0,1787.0,18609.0,5244.0,0.0,0.0,8497.0,0.0,220258.0,267027.0
Bristol UA,228200.0,28611.0,69429.0,144996.0,36478.0,29678.0,21541.0,30665.0,12175.0,0.0,0.0,10153.0,0.0,611927.0,817212.0
South Gloucestershire UA,146270.0,18522.0,26639.0,84927.0,9627.0,6549.0,6663.0,27285.0,4054.0,0.0,0.0,9213.0,1726.0,341475.0,435073.0
North Somerset UA,97919.0,9777.0,25204.0,66881.0,9876.0,7656.0,5141.0,17227.0,2114.0,0.0,0.0,6058.0,0.0,247853.0,333762.0
Luton UA,172225.0,8195.0,38328.0,61113.0,15788.0,8580.0,5648.0,17167.0,2578.0,0.0,0.0,12039.0,3642.0,345303.0,441092.0
Bedford UA,91746.0,8489.0,31464.0,58290.0,9078.0,4987.0,5470.0,13966.0,2292.0,0.0,0.0,8274.0,0.0,234056.0,303460.0
Central Bedfordshire UA,222148.0,9895.0,38650.0,74945.0,12591.0,5180.0,4745.0,23588.0,7505.0,0.0,0.0,11509.0,0.0,410756.0,495482.0
Bracknell Forest UA,102031.0,5841.0,16880.0,33826.0,4317.0,3302.0,5887.0,10619.0,-605.0,0.0,0.0,5768.0,39.0,187905.0,223460.0
West Berkshire UA,106328.0,5010.0,20439.0,41553.0,6183.0,3064.0,5139.0,21016.0,2677.0,0.0,0.0,6158.0,0.0,217567.0,265324.0
Reading UA,91968.0,3103.0,40569.0,41366.0,10016.0,7475.0,6655.0,15171.0,108.0,0.0,0.0,5418.0,57.0,221906.0,309414.0
Slough UA,78875.0,6628.0,3552.0,37166.0,8073.0,4926.0,5256.0,14725.0,127.0,0.0,0.0,6505.0,-3376.0,162459.0,262111.0
Windsor & Maidenhead UA,72302.0,329.0,15112.0,38430.0,4994.0,3957.0,2123.0,14327.0,2166.0,0.0,0.0,5278.0,0.0,159018.0,199093.0
Wokingham UA,106667.0,8733.0,16323.0,45570.0,5495.0,2072.0,2716.0,14731.0,3669.0,0.0,0.0,7987.0,0.0,213963.0,248444.0
Milton Keynes UA,177558.0,50.0,40672.0,58144.0,12153.0,6763.0,7802.0,18763.0,1310.0,0.0,0.0,7806.0,903.0,331924.0,444690.0
Buckinghamshire,455089.0,30646.0,77665.0,139897.0,22056.0,2301.0,4472.0,12631.0,1637.0,0.0,0.0,4289.0,0.0,750683.0,774448.0
Aylesbury Vale,0.0,-628.0,0.0,0.0,0.0,2163.0,2434.0,6874.0,758.0,0.0,0.0,6514.0,1165.0,19280.0,67070.0
Chiltern,0.0,-1075.0,0.0,0.0,0.0,1579.0,576.0,3560.0,1821.0,0.0,0.0,3225.0,75.0,9761.0,34902.0
South Bucks,0.0,-705.0,0.0,0.0,0.0,957.0,192.0,3333.0,1894.0,0.0,0.0,3061.0,-423.0,8309.0,27181.0
Wycombe,0.0,-794.0,0.0,0.0,0.0,3470.0,2942.0,6101.0,3504.0,0.0,0.0,2408.0,542.0,18173.0,63740.0
Peterborough UA,142452.0,8719.0,45949.0,50945.0,11580.0,-464.0,4804.0,10832.0,4978.0,0.0,0.0,5728.0,0.0,285523.0,372141.0
Cambridgeshire,282590.0,33601.0,78372.0,153610.0,27442.0,-687.0,7280.0,32281.0,1871.0,0.0,0.0,5339.0,0.0,621699.0,644547.0
Cambridge,0.0,-4999.0,0.0,0.0,0.0,3447.0,5457.0,6987.0,4817.0,0.0,0.0,5482.0,0.0,21191.0,53594.0
East Cambridgeshire,0.0,142.0,0.0,0.0,0.0,1375.0,971.0,5028.0,1049.0,0.0,0.0,2907.0,0.0,11472.0,32115.0
Fenland,0.0,773.0,0.0,0.0,0.0,1681.0,1666.0,4997.0,1332.0,0.0,0.0,3834.0,0.0,14283.0,46710.0
South Cambridgeshire,0.0,78.0,0.0,0.0,0.0,2081.0,347.0,5932.0,4198.0,0.0,0.0,6209.0,0.0,18845.0,51311.0
Huntingdonshire,0.0,-965.0,0.0,0.0,0.0,3074.0,2596.0,6060.0,1408.0,0.0,0.0,5136.0,0.0,17309.0,58535.0
Halton UA,87410.0,17140.0,22546.0,40082.0,11061.0,2471.0,8669.0,10461.0,4561.0,0.0,0.0,4059.0,999.0,209459.0,268845.0
Warrington UA,124113.0,9202.0,36176.0,57070.0,12778.0,5687.0,8478.0,11767.0,-530.0,0.0,0.0,5025.0,0.0,269766.0,344021.0
Cheshire East UA,168929.0,16167.0,46530.0,108770.0,17124.0,6359.0,17384.0,29984.0,7342.0,0.0,0.0,6427.0,0.0,425016.0,528588.0
Cheshire West and Chester UA,236644.0,17596.0,45075.0,102246.0,17682.0,8118.0,13122.0,28024.0,8516.0,0.0,0.0,10823.0,1024.0,488870.0,602750.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Greater Manchester Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,592325.0,0.0,1686.0,0.0,594011.0,616462.0
Merseyside Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,317436.0,0.0,1210.0,0.0,318646.0,320003.0
South Yorkshire Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,246184.0,0.0,2349.0,0.0,248533.0,254176.0
Northumbria Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,256857.0,0.0,2848.0,0.0,259705.0,267191.0
West Midlands Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,582147.0,0.0,1945.0,0.0,584092.0,588813.0
West Yorkshire Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,450652.0,0.0,9331.0,0.0,459983.0,481175.0
Avon & Somerset Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,286107.0,0.0,1282.0,0.0,287389.0,292998.0
Devon & Cornwall Police and Crime Commissioner and Chief Constable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hampshire Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,302185.0,0.0,1569.0,0.0,303754.0,310783.0
Sussex Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,264276.0,0.0,1274.0,0.0,265550.0,268745.0
Thames Valley Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,401306.0,0.0,1894.0,0.0,403200.0,417475.0
West Mercia Police and Crime Commissioner and Chief Constable,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,205793.0,0.0,4752.0,0.0,210545.0,212243.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENGLAND,33342758.0,4239578.0,8027601.0,15623146.0,3410420.0,1542948.0,2190418.0,5064405.0,1078172.0,11144704.0,2054705.0,2987047.0,263676.0,90969578.0,117358363.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CLASS BREAKDOWN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LONDON BOROUGHS,6522079.0,233725.0,1476233.0,2365963.0,682188.0,466970.0,336609.0,680203.0,129780.0,84816.0,0.0,439330.0,138494.0,13556389.0,20177823.0
METROPOLITAN DISTRICTS,8109539.0,436875.0,1946948.0,3375351.0,910347.0,294730.0,531564.0,741699.0,186904.0,0.0,0.0,543643.0,38097.0,17115696.0,23270974.0
UNITARY AUTHORITIES,6890030.0,565377.0,1931048.0,3625212.0,815892.0,330859.0,466045.0,1098858.0,187534.0,0.0,45238.0,520728.0,34793.0,16511612.0,21700910.0
SHIRE COUNTIES,11813241.0,1166199.0,2671335.0,6247475.0,996987.0,105478.0,314724.0,1089769.0,94231.0,0.0,292389.0,445717.0,41928.0,25279472.0,26300413.0
SHIRE DISTRICTS,0.0,-148267.0,2037.0,9145.0,2075.0,329727.0,470799.0,906430.0,288876.0,0.0,0.0,830709.0,8245.0,2699775.0,8902618.0
OTHER AUTHORITIES,7869.0,1985669.0,0.0,0.0,2932.0,15185.0,70678.0,547446.0,190848.0,11059888.0,1717078.0,206920.0,2120.0,15806633.0,17005626.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Task:
- Add in the 'REVENUE EXPENDITURE' column from the original dataset