In [1]:
import pandas as pd

## Use Markdown to give your notebooks headings and comments
Get formatting and [Markdown tips](https://help.github.com/articles/basic-writing-and-formatting-syntax/)

Open your data

In [2]:
gp_data = pd.read_csv('gp_pat.csv')

/Users/sarahdean/workspace/learning/devEnvLearning/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

View the top 5 rows of data

In [3]:
gp_data.head()

,PUBLICATION,EXTRACT_DATE,ORG_TYPE,ORG_CODE,ONS_CODE,POSTCODE,SEX,AGE_GROUP_5,NUMBER_OF_PATIENTS
0,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,ALL,ALL,16220286
1,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,0_4,444609
2,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,5_9,477023
3,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,10_14,439112
4,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,15_19,446453

Use a # to write quick comments in the code

In [4]:
# get a list of the column names - then go back and assign it to a variable, and extract a value from the list
gp_data.keys()

Index(['PUBLICATION', 'EXTRACT_DATE', 'ORG_TYPE', 'ORG_CODE', 'ONS_CODE',
       'POSTCODE', 'SEX', 'AGE_GROUP_5', 'NUMBER_OF_PATIENTS'],
      dtype='object')

In [5]:
# slice data by a value in a column

In [6]:
gp_data_all=gp_data.where(gp_data['SEX']=='ALL')

In [7]:
# where the data did not = ALL, the va
gp_data_all.tail()

,PUBLICATION,EXTRACT_DATE,ORG_TYPE,ORG_CODE,ONS_CODE,POSTCODE,SEX,AGE_GROUP_5,NUMBER_OF_PATIENTS
331826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# to find out how many rows you have in your dataframe
len(gp_data.index)

331831

In [9]:
len(gp_data_all.index)

331831

In [10]:
# you can also find out how many rows/columns there are
gp_data.shape

(331831, 9)

In [11]:
gp_data.dropna()

Empty DataFrame
Columns: [PUBLICATION, EXTRACT_DATE, ORG_TYPE, ORG_CODE, ONS_CODE, POSTCODE, SEX, AGE_GROUP_5, NUMBER_OF_PATIENTS]
Index: []

In [12]:
# the data is still there
gp_data.head()

,PUBLICATION,EXTRACT_DATE,ORG_TYPE,ORG_CODE,ONS_CODE,POSTCODE,SEX,AGE_GROUP_5,NUMBER_OF_PATIENTS
0,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,ALL,ALL,16220286
1,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,0_4,444609
2,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,5_9,477023
3,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,10_14,439112
4,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,NaN,FEMALE,15_19,446453

In [13]:
gp_data.dropna(inplace=True)

In [14]:
gp_data.shape

(0, 9)

In [15]:
gp_data = pd.read_csv('gp_pat.csv')

/Users/sarahdean/workspace/learning/devEnvLearning/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
# drop all the rows where SEX is not NaN ie 
gp_data_all=gp_data_all[gp_data_all['SEX'].notnull()]

In [17]:
# I have no idea why this doesn't have brackets
gp_data_all.shape

(7717, 9)

In [18]:
gp_data_all.tail()

,PUBLICATION,EXTRACT_DATE,ORG_TYPE,ORG_CODE,ONS_CODE,POSTCODE,SEX,AGE_GROUP_5,NUMBER_OF_PATIENTS
331616,GP_PRAC_PAT_LIST,01-Apr-17,GP,Y05472,NaN,NR5 9BF,ALL,ALL,164.0
331659,GP_PRAC_PAT_LIST,01-Apr-17,GP,Y05548,NaN,BD8 8RA,ALL,ALL,1681.0
331702,GP_PRAC_PAT_LIST,01-Apr-17,GP,Y05569,NaN,SY13 1NT,ALL,ALL,3482.0
331745,GP_PRAC_PAT_LIST,01-Apr-17,GP,Y05622,NaN,NG5 5GU,ALL,ALL,2611.0
331788,GP_PRAC_PAT_LIST,01-Apr-17,GP,Y05690,NaN,NG17 7AE,ALL,ALL,5692.0

In [19]:
# concatenate the two data sets by appending one to the other. We can do this really easily because they both
# contain the same columns
gp_data=gp_data.append(gp_data_all)

In [20]:
gp_data.shape

(339548, 9)

In [21]:
# do it first without the inplace='TRUE'
#gp_data.drop_duplicates()
gp_data.drop_duplicates(inplace=True)

In [22]:
gp_data.shape

(331831, 9)

In [23]:
# again, could fill the values of specific columns using ['col_name]
gp_data.fillna(value='xxx', inplace=True)

In [24]:
gp_data.head()

,PUBLICATION,EXTRACT_DATE,ORG_TYPE,ORG_CODE,ONS_CODE,POSTCODE,SEX,AGE_GROUP_5,NUMBER_OF_PATIENTS
0,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,ALL,ALL,16220286.0
1,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,0_4,444609.0
2,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,5_9,477023.0
3,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,10_14,439112.0
4,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,15_19,446453.0

In [25]:
# change the data type of the number of patients, because if they had floats of patients, 
# they would presumably be pathologists
gp_data[['NUMBER_OF_PATIENTS']]=gp_data[['NUMBER_OF_PATIENTS']].astype(int)

In [26]:
gp_data.head()

,PUBLICATION,EXTRACT_DATE,ORG_TYPE,ORG_CODE,ONS_CODE,POSTCODE,SEX,AGE_GROUP_5,NUMBER_OF_PATIENTS
0,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,ALL,ALL,16220286
1,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,0_4,444609
2,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,5_9,477023
3,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,10_14,439112
4,GP_PRAC_PAT_LIST,01-Apr-17,Comm Region,Y54,E40000001,xxx,FEMALE,15_19,446453

In [27]:
gp_dataGroup = gp_data[["PUBLICATION", "EXTRACT_DATE", "SEX", "AGE_GROUP_5", "NUMBER_OF_PATIENTS"]]

In [28]:
gp_dataGroup = gp_dataGroup.groupby(["AGE_GROUP_5"]).sum()
gp_dataGroup = gp_dataGroup.reset_index()
gp_dataGroup

   AGE_GROUP_5  NUMBER_OF_PATIENTS
0          0_4            13341244
1        10_14            12946864
2        15_19            12895740
3        20_24            14948508
4        25_29            16832688
5        30_34            16899820
6        35_39            16141500
7        40_44            15123276
8        45_49            16536448
9        50_54            16469336
10       55_59            14448356
11         5_9            14186340
12       60_64            12222984
13       65_69            11882680
14       70_74            10315772
15       75_79             7301032
16       80_84             5474820
17       85_89             3411072
18       90_94             1484684
19         95+              451032
20         ALL           466628392

In [29]:
gp_dataGroup = gp_dataGroup[gp_dataGroup["AGE_GROUP_5"] != 'ALL']

In [30]:
gp_dataGroup["percent"] = gp_dataGroup.NUMBER_OF_PATIENTS / gp_dataGroup.NUMBER_OF_PATIENTS.sum() * 100

/Users/sarahdean/workspace/learning/devEnvLearning/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
gp_dataGroup.round(decimals=2)

   AGE_GROUP_5  NUMBER_OF_PATIENTS  percent
0          0_4            13341244     5.72
1        10_14            12946864     5.55
2        15_19            12895740     5.53
3        20_24            14948508     6.41
4        25_29            16832688     7.21
5        30_34            16899820     7.24
6        35_39            16141500     6.92
7        40_44            15123276     6.48
8        45_49            16536448     7.09
9        50_54            16469336     7.06
10       55_59            14448356     6.19
11         5_9            14186340     6.08
12       60_64            12222984     5.24
13       65_69            11882680     5.09
14       70_74            10315772     4.42
15       75_79             7301032     3.13
16       80_84             5474820     2.35
17       85_89             3411072     1.46
18       90_94             1484684     0.64
19         95+              451032     0.19