In [1]:
import requests
import json
import pandas as pd
import lxml

# Recap task from last week
**Saved here: https://github.com/AnneCarr/monday-code-club/blob/master/CodeClub-14-Aug-dict.ipynb  **

- Get JSON data from an external source into a Dataframe

# This week
We are going to learn how to create and use functions

Have a look a this tutorial for more info on python functions
https://www.datacamp.com/community/tutorials/functions-python-tutorial#gs.6QALerI

## First task

Using the techniques learned from last week we will
 - create functions to allow us to repeat the task of getting JSON data from external sources
 - use a for loop to loop through the functions to append data from several sources into a dataframe
 - group the data to learn 
  - Which petition had the most number of signatures
  - Which constituency has the most active voters
  - get the % of overall constituency numbers that signed a petition
  - anyother interesting insights you can find and chart based on what we've learned so far

We are going to create a function using two different techniques 

In this one we are going 
 - to pass the URL for the JSON data into the function
 - build a dataframe from the specific set of JSON data we want
 - add a column for the name of the petition 
 - return the completed dataframe

In [2]:
# list of petition urls we are going to use
petitions_list = ['https://petition.parliament.uk/petitions/175433.json',
                'https://petition.parliament.uk/petitions/166847.json',
                'https://petition.parliament.uk/petitions/165672.json',
                  'https://petition.parliament.uk/petitions/187027.json']

We name the function get_petitions_url

We will pass one variable into the function - in this case the URL for the json data we will be using

In [3]:
def get_petitions_url(url):
#     get the JSON data using requests and set it as a JSON object variable
    petitions_data = requests.get(url) 
    petitions_dict = petitions_data.json()
#     Navigate to the data we need and create a dataframe on the data
    const = pd.DataFrame.from_dict(petitions_dict['data']['attributes']['signatures_by_constituency'])
#     add a new column for the name of the petition
    const['petition_name'] = petitions_dict['data']['attributes']['action']
#     the output of the function is the completed dataframe
    return const

We use this for loop to loop through the list of petition urls 

We then call the get_petition_url function passing in the url from the list

On each loop through on the for loop we append the petitions_df with the data collected from the function

In [4]:
petitions_df = pd.DataFrame()
for petition in petitions_list:
    df = get_petitions_url(petition)
    petitions_df = petitions_df.append(df)

petitions_df.head()

,mp,name,ons_code,signature_count,petition_name
0,Tommy Sheppard MP,Edinburgh East,S14000022,13,Stop business rate rises before they wreck ind...
1,Deidre Brock MP,Edinburgh North and Leith,S14000023,34,Stop business rate rises before they wreck ind...
2,Ian Murray MP,Edinburgh South,S14000024,7,Stop business rate rises before they wreck ind...
3,Joanna Cherry QC MP,Edinburgh South West,S14000025,12,Stop business rate rises before they wreck ind...
4,Christine Jardine MP,Edinburgh West,S14000026,10,Stop business rate rises before they wreck ind...

In this option we pass in the JSON data we need and create the dataframe directly from the data

We will pass in two variables in this case 
 - one for the constituency data
 - one for the name of the petition
 
We return the completed dataframe

In [5]:
def get_petitions_dict(const_data,name_data):
    const_df = pd.DataFrame.from_dict(const_data)
    const_df['petition_name'] = name_data
    
    return const_df

In this for loop we are looping through the petitions_list as before but in this case we are setting a variable with the specific data we need to build the dataframe prior to calling the function

The JSON data object is passed into the function and called 'constitucany' - this is used to build the dataframe in the function
The name of the petition is stored in 'name_petition' and also passed into the function

On each loop of the for loop the dataframe object is returned an appended to petitions_df

In [6]:
petitions_df = pd.DataFrame()

for petition in petitions_list:
    petitions_data = requests.get(petition)
    petitions_dict = petitions_data.json()
    constituancy = pd.DataFrame.from_dict(petitions_dict['data']['attributes']['signatures_by_constituency'])
    name_petition = petitions_dict['data']['attributes']['action']
    df = get_petitions_dict(constituancy,name_petition)
    petitions_df = petitions_df.append(df)

petitions_df.head()

,mp,name,ons_code,signature_count,petition_name
0,Tommy Sheppard MP,Edinburgh East,S14000022,13,Stop business rate rises before they wreck ind...
1,Deidre Brock MP,Edinburgh North and Leith,S14000023,34,Stop business rate rises before they wreck ind...
2,Ian Murray MP,Edinburgh South,S14000024,7,Stop business rate rises before they wreck ind...
3,Joanna Cherry QC MP,Edinburgh South West,S14000025,12,Stop business rate rises before they wreck ind...
4,Christine Jardine MP,Edinburgh West,S14000026,10,Stop business rate rises before they wreck ind...

As last week we will add the county, electorate population and region data to our completed dataframe

In [7]:
counties = requests.get("https://en.wikipedia.org/wiki/List_of_United_Kingdom_Parliament_constituencies").text

In [8]:
lsDf = pd.read_html(counties)
df = lsDf[1]
df.head()

,0,1,2,3,4,5,6
0,Constituency,Electorate 2000,Electorate 2010,Electorate 2017,Largest ceremonial county or council area (Sco...,Country of the UK,Region
1,Aldershot,66499,71908,76205,Hampshire,England,South East
2,Aldridge-Brownhills,58695,59506,60363,West Midlands,England,West Midlands
3,Altrincham and Sale West,69605,72008,73220,Greater Manchester,England,North West
4,Amber Valley,66406,69538,68065,Derbyshire,England,East Midlands

In [9]:
new_header = df.iloc[0]

Get the rest of the data, less the header row

In [10]:
df = df[1:] #take the data less the header row

Rename the columns with your header row

In [11]:
df = df.rename(columns = new_header)

Now we can use it like a normal dataframe

In [12]:
df.head()

,Constituency,Electorate 2000,Electorate 2010,Electorate 2017,Largest ceremonial county or council area (Scotland),Country of the UK,Region
1,Aldershot,66499,71908,76205,Hampshire,England,South East
2,Aldridge-Brownhills,58695,59506,60363,West Midlands,England,West Midlands
3,Altrincham and Sale West,69605,72008,73220,Greater Manchester,England,North West
4,Amber Valley,66406,69538,68065,Derbyshire,England,East Midlands
5,Arundel and South Downs,71203,76697,80766,West Sussex,England,South East

In [13]:
petitions_df.head()

,mp,name,ons_code,signature_count,petition_name
0,Tommy Sheppard MP,Edinburgh East,S14000022,13,Stop business rate rises before they wreck ind...
1,Deidre Brock MP,Edinburgh North and Leith,S14000023,34,Stop business rate rises before they wreck ind...
2,Ian Murray MP,Edinburgh South,S14000024,7,Stop business rate rises before they wreck ind...
3,Joanna Cherry QC MP,Edinburgh South West,S14000025,12,Stop business rate rises before they wreck ind...
4,Christine Jardine MP,Edinburgh West,S14000026,10,Stop business rate rises before they wreck ind...

In [14]:
petitions_df = petitions_df.rename(index=str, columns={"name": "Constituency"})
petitions_df.head()

,mp,Constituency,ons_code,signature_count,petition_name
0,Tommy Sheppard MP,Edinburgh East,S14000022,13,Stop business rate rises before they wreck ind...
1,Deidre Brock MP,Edinburgh North and Leith,S14000023,34,Stop business rate rises before they wreck ind...
2,Ian Murray MP,Edinburgh South,S14000024,7,Stop business rate rises before they wreck ind...
3,Joanna Cherry QC MP,Edinburgh South West,S14000025,12,Stop business rate rises before they wreck ind...
4,Christine Jardine MP,Edinburgh West,S14000026,10,Stop business rate rises before they wreck ind...

left join

In [15]:
dfRegion = pd.merge(petitions_df, df, how="left", on="Constituency")
dfRegion

,mp,Constituency,ons_code,signature_count,petition_name,Electorate 2000,Electorate 2010,Electorate 2017,Largest ceremonial county or council area (Scotland),Country of the UK,Region
0,Tommy Sheppard MP,Edinburgh East,S14000022,13,Stop business rate rises before they wreck ind...,74505,60594,67141,City of Edinburgh,Scotland,NaN
1,Deidre Brock MP,Edinburgh North and Leith,S14000023,34,Stop business rate rises before they wreck ind...,74762,69580,80910,City of Edinburgh,Scotland,NaN
2,Ian Murray MP,Edinburgh South,S14000024,7,Stop business rate rises before they wreck ind...,68884,59285,65801,City of Edinburgh,Scotland,NaN
3,Joanna Cherry QC MP,Edinburgh South West,S14000025,12,Stop business rate rises before they wreck ind...,75787,66262,72149,City of Edinburgh,Scotland,NaN
4,Christine Jardine MP,Edinburgh West,S14000026,10,Stop business rate rises before they wreck ind...,70603,65526,71717,City of Edinburgh,Scotland,NaN
5,David Duguid MP,Banff and Buchan,S14000007,2,Stop business rate rises before they wreck ind...,65970,65183,68609,Aberdeenshire,Scotland,NaN
6,Alison Thewliss MP,Glasgow Central,S14000029,5,Stop business rate rises before they wreck ind...,70378,67521,70945,Glasgow City,Scotland,NaN
7,Patrick Grady MP,Glasgow North,S14000031,2,Stop business rate rises before they wreck ind...,63729,54620,60169,Glasgow City,Scotland,NaN
8,Mr Paul J Sweeney MP,Glasgow North East,S14000032,1,Stop business rate rises before they wreck ind...,70899,64171,66678,Glasgow City,Scotland,NaN
9,Stewart Malcolm McDonald MP,Glasgow South,S14000034,5,Stop business rate rises before they wreck ind...,74482,69122,74051,Glasgow City,Scotland,NaN
10,Colin Clark MP,Gordon,S14000037,1,Stop business rate rises before they wreck ind...,69631,74394,79393,Aberdeenshire,Scotland,NaN
11,Kirsty Blackman MP,Aberdeen North,S14000001,1,Stop business rate rises before they wreck ind...,69622,64753,67745,Aberdeen City,Scotland,NaN
12,Drew Hendry MP,"Inverness, Nairn, Badenoch and Strathspey",S14000039,1,Stop business rate rises before they wreck ind...,67790,72764,77628,Highland,Scotland,NaN
13,Alan Brown MP,Kilmarnock and Loudoun,S14000040,1,Stop business rate rises before they wreck ind...,72922,75001,75250,East Ayrshire,Scotland,NaN
14,Lesley Laird MP,Kirkcaldy and Cowdenbeath,S14000041,6,Stop business rate rises before they wreck ind...,74163,74247,75941,Fife,Scotland,NaN
15,Martyn Day MP,Linlithgow and East Falkirk,S14000043,2,Stop business rate rises before they wreck ind...,78675,81756,86955,West Lothian and Falkirk,Scotland,NaN
16,Hannah Bardell MP,Livingston,S14000044,1,Stop business rate rises before they wreck ind...,76299,76580,82373,West Lothian,Scotland,NaN
17,Danielle Rowley MP,Midlothian,S14000045,6,Stop business rate rises before they wreck ind...,62787,61986,67875,Midlothian,Scotland,NaN
18,Ross Thomson MP,Aberdeen South,S14000002,4,Stop business rate rises before they wreck ind...,69332,64330,68056,Aberdeen City,Scotland,NaN
19,Douglas Ross MP,Moray,S14000046,2,Stop business rate rises before they wreck ind...,63959,66726,71685,Moray,Scotland,NaN
20,Marion Fellows MP,Motherwell and Wishaw,S14000047,1,Stop business rate rises before they wreck ind...,67499,66949,70283,North Lanarkshire,Scotland,NaN
21,Stephen Gethins MP,North East Fife,S14000049,12,Stop business rate rises before they wreck ind...,64813,63349,62003,Fife,Scotland,NaN
22,John Lamont MP,"Berwickshire, Roxburgh and Selkirk",S14000008,3,Stop business rate rises before they wreck ind...,72430,74115,74214,Scottish Borders,Scotland,NaN
23,Luke Graham MP,Ochil and South Perthshire,S14000050,3,Stop business rate rises before they wreck ind...,71738,75848,77370,Clackmannanshire and Perth and Kinross,Scotland,NaN
24,Rt Hon Alistair Carmichael MP,Orkney and Shetland,S14000051,1,Stop business rate rises before they wreck ind...,32181,33755,34552,Orkney Islands and Shetland Islands,Scotland,NaN
25,Gavin Newlands MP,Paisley and Renfrewshire North,S14000052,1,Stop business rate rises before they wreck ind...,68642,65847,66206,Renfrewshire,Scotland,NaN
26,Mhairi Black MP,Paisley and Renfrewshire South,S14000053,1,Stop business rate rises before they wreck ind...,68038,63268,61281,Renfrewshire,Scotland,NaN
27,Pete Wishart MP,Perth and North Perthshire,S14000054,8,Stop business rate rises before they wreck ind...,70718,73064,72459,Perth and Kinross,Scotland,NaN
28,Rt Hon Ian Blackford MP,"Ross, Skye and Lochaber",S14000055,5,Stop business rate rises before they wreck ind...,49544,52064,54169,Highland,Scotland,NaN
29,Gerard Killen MP,Rutherglen and Hamilton West,S14000056,3,Stop business rate rises before they wreck ind...,75370,77729,82830,South Lanarkshire,Scotland,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2519,Eleanor Smith MP,Wolverhampton South West,E14001051,5,Amend the Births and Deaths Registration Act 1...,63641,59846,60368,West Midlands,England,West Midlands
2520,Mr Robin Walker MP,Worcester,E14001052,15,Amend the Births and Deaths Registration Act 1...,71601,73960,72461,Worcestershire,England,West Midlands
2521,Sue Hayman MP,Workington,E14001053,12,Amend the Births and Deaths Registration Act 1...,61369,59361,58615,Cumbria,England,North West
2522,Barbara Keeley MP,Worsley and Eccles South,E14001054,33,Amend the Births and Deaths Registration Act 1...,72554,73409,72177,Greater Manchester,England,North West
2523,Sir Peter Bottomley MP,Worthing West,E14001055,3,Amend the Births and Deaths Registration Act 1...,72585,74468,75617,West Sussex,England,South East
2524,Ian C. Lucas MP,Wrexham,W07000044,3,Amend the Births and Deaths Registration Act 1...,50980,53733,50992,Wrexham,Wales,NaN
2525,Mr Steve Baker MP,Wycombe,E14001056,10,Amend the Births and Deaths Registration Act 1...,71997,73750,76371,Buckinghamshire,England,South East
2526,Rt Hon Ben Wallace MP,Wyre and Preston North,E14001057,12,Amend the Births and Deaths Registration Act 1...,68812,71612,70637,Lancashire,England,North West
2527,Mark Garnier MP,Wyre Forest,E14001058,7,Amend the Births and Deaths Registration Act 1...,75563,77800,77407,Worcestershire,England,West Midlands
2528,Mike Kane MP,Wythenshawe and Sale East,E14001059,25,Amend the Births and Deaths Registration Act 1...,72093,75602,75994,Greater Manchester,England,North West
2529,Mr Marcus Fysh MP,Yeovil,E14001060,26,Amend the Births and Deaths Registration Act 1...,77049,82771,82447,Somerset,England,South West
2530,Albert Owen MP,Ynys Mn,W07000041,8,Amend the Births and Deaths Registration Act 1...,49831,49721,49939,Isle of Anglesey,Wales,NaN
2531,Rachael Maskell MP,York Central,E14001061,23,Amend the Births and Deaths Registration Act 1...,71160,75656,75351,North Yorkshire,England,Yorkshire & the Humber
2532,Julian Sturdy MP,York Outer,E14001062,11,Amend the Births and Deaths Registration Act 1...,71613,75125,78561,North Yorkshire,England,Yorkshire & the Humber
2533,Jamie Stone MP,"Caithness, Sutherland and Easter Ross",S14000009,15,Amend the Births and Deaths Registration Act 1...,46533,47572,47558,Highland,Scotland,NaN
2534,Kirstene Hair MP,Angus,S14000004,18,Amend the Births and Deaths Registration Act 1...,64591,64178,65792,Angus,Scotland,NaN
2535,Dr Philippa Whitford MP,Central Ayrshire,S14000010,14,Amend the Births and Deaths Registration Act 1...,69161,69243,70021,North Ayrshire and South Ayrshire,Scotland,NaN
2536,Brendan O'Hara MP,Argyll and Bute,S14000005,8,Amend the Births and Deaths Registration Act 1...,69571,67692,68875,Argyll and Bute,Scotland,NaN
2537,Hugh Gaffney MP,"Coatbridge, Chryston and Bellshill",S14000011,29,Amend the Births and Deaths Registration Act 1...,67647,70537,73894,North Lanarkshire,Scotland,NaN
2538,Stuart C. McDonald MP,"Cumbernauld, Kilsyth and Kirkintilloch East",S14000012,22,Amend the Births and Deaths Registration Act 1...,67802,65317,67088,East Dunbartonshire and North Lanarkshire,Scotland,NaN
2539,Mr Alister Jack MP,Dumfries and Galloway,S14000013,15,Amend the Births and Deaths Registration Act 1...,75316,74414,75249,Dumfries and Galloway,Scotland,NaN
2540,Rt Hon David Mundell MP,"Dumfriesshire, Clydesdale and Tweeddale",S14000014,11,Amend the Births and Deaths Registration Act 1...,65137,67066,68483,"Dumfries and Galloway, Scottish Borders and So...",Scotland,NaN
2541,Stewart Hosie MP,Dundee East,S14000015,12,Amend the Births and Deaths Registration Act 1...,65059,65702,67822,Angus and Dundee City,Scotland,NaN
2542,Chris Law MP,Dundee West,S14000016,17,Amend the Births and Deaths Registration Act 1...,67751,63065,65927,Angus and Dundee City,Scotland,NaN
2543,Douglas Chapman MP,Dunfermline and West Fife,S14000017,20,Amend the Births and Deaths Registration Act 1...,70373,74621,78037,Fife,Scotland,NaN
2544,Jo Swinson MP,East Dunbartonshire,S14000018,8,Amend the Births and Deaths Registration Act 1...,66724,64186,66966,East Dunbartonshire,Scotland,NaN
2545,Dr Lisa Cameron MP,"East Kilbride, Strathaven and Lesmahagow",S14000019,31,Amend the Births and Deaths Registration Act 1...,77257,77985,83205,South Lanarkshire,Scotland,NaN
2546,Bill Grant MP,"Ayr, Carrick and Cumnock",S14000006,24,Amend the Births and Deaths Registration Act 1...,74159,73708,72995,East Ayrshire and South Ayrshire,Scotland,NaN
2547,Martin Whitfield MP,East Lothian,S14000020,14,Amend the Births and Deaths Registration Act 1...,71288,74320,79481,East Lothian,Scotland,NaN
2548,Paul Masterton MP,East Renfrewshire,S14000021,17,Amend the Births and Deaths Registration Act 1...,69249,68117,69982,East Renfrewshire,Scotland,NaN

From the resulting dataframe find:
 - which petition had the highest number of signatures?
 - which constituancy is most likely to sign a petition?
 - create a bar chart with the